@model Treehouse.FitnessFrog.Models.Entry
@using Treehouse.FitnessFrog.Models

@{
    ViewBag.Title = "Add Entry";

    //-- Este codigo genera codigo Html para el control DropDownList
    //var selectListItems = new[]
    //{
    //    new SelectListItem() { Value = "1", Text = "Item 1", Selected = false },
    //    new SelectListItem() { Value = "2", Text = "Item 2", Selected = true }
    //};

    //var items = new[]
    //{
    //    new { Id = 1, Name = "Item 1"},
    //    new { Id = 2, Name = "Item 2"}
    //};

    //var selectListItems = new SelectList(items, "Id", "Name");

}

@*<select>
    <option value="1">Item 1</option>
    <option value="2" selected>Item 2</option>
</select>*@


<h2>@ViewBag.Title</h2>

@Html.Partial("_EntryForm")

